name: Autograding

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  autograde:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout student repo
      - name: Checkout student submission
        uses: actions/checkout@v3

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # 4. Checkout private tester repo
      - name: Checkout test suite
        uses: actions/checkout@v3
        with:
          repository: 42bangkok-working/javascript-piscine-tester   # change to your org/repo
          path: tester
          token: ${{ secrets.CLASSROOM_TESTS_TOKEN }}

      - name: setup files
        run: |
          echo "=== Setup files ==="
          tree .
          cp -r tester/.github/* .github/
          rsync -av --include="*.test.js" --include="*/" --exclude="*" tester/ ./ 
          cp tester/package.json .
          rm -r tester
          echo "=== Finish Setup files ==="
          tree .

      # 3. Install dependencies
      - name: Install dependencies
        run: npm install

      - name: Run Jest tests
        run: npx jest
        continue-on-error: true

      # 6. Autograding action
      - name: Autograding
        uses: education/autograding@v1
